@font-face {
    font-family: "font";
    src: url("/home/mgntpk/Documents/フォント/homura/homura/06HomuraM-Bold.otf")format("truetype");
}
body{
    margin: 0;
    min-height: 100vh;
}
header,footer{
    border: solid 1px;
}
header{
    height: 150px;
    display: flex;
}
h1{
    width: 80%;
    border: solid 1px;
    margin: 0;
    font-size: 11vmin;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    font-family: "font";
}
nav{
    width: 20%;
    border: solid 1px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    height: 25%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
a{
    text-decoration: none;
}
footer{height: 100px;}
main{
    width: 90%;
    margin: 0 auto;
   min-height:calc(100% - 254px);
}
p{
    margin: 0;
}